<%- include('includes/header',pageTitle) %>
    <%- include('includes/navigation',path) %>
        <h1>Home page</h1>
        <p>Your EMail ID : dfkjlfdkjsl@12233</p>
        <%- include("includes/footer")%>