.loginForm{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    box-shadow:0 0 .5rem gray;
    width:50rem;
    padding:4rem;
    text-align:center;
    font-size:1.6rem;
    border-radius:2rem;
}

.loginForm input ,label{
    font-size:1.6rem;
    padding:1rem;
    display:block;
    width:100%;
    border-radius:1rem;
}

.btn{
    background-color: cadetblue;
    color: #fff;
    font-weight: 600;
    padding:1rem 2rem;
    cursor:pointer;
    font-size:1.6rem;
    margin:2rem;
    width:50%;
    border-radius:1rem;
    border:none;
}

h1{
    font-size:3rem;
    margin-left:2rem;
    font-weight:600;
}